<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="forumConnectionString" connectionString="server=MALORY-AWLAPTOP\SQLEXPRESS;database=test;uid=Malory;pwd=7224708"
      providerName="System.Data.SqlClient" />
    <add name="FurryForumDataConnectionString" connectionString="Data Source=MALORY-AWLAPTOP\SQLEXPRESS;Initial Catalog=FurryForumData;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="CST.Properties.Settings.testConnectionString" connectionString="Data Source=MALORY-AWLAPTOP;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>